write the same word every {{ (1 / mean) | round(2, "common") }} other words, but not more often than every {{ (1 / high) | round(2, "common") }} words, nor more rarely than every {{ (1 / low) | round(2, "common") }} words