* **Total Sentences**: construct the text to contain the **target number of
sentences**: {{ mean }} (**min**={{ low }}; **max**={{ high }}). You may expand
on the user prompt or summarize it to achieve your target.